<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazycoder.database.dao.command.FormatTypeCodeModelMapper">

    <!-- 表名 -->
    <sql id="table">formatTypeCode</sql>

    <resultMap id="result"
               type="com.lazycoder.database.model.command.FormatTypeCodeModel">
    </resultMap>

    <!-- 添加模块 -->
    <insert id="addCodeModel" parameterType="java.util.List">
        insert into
        <include refid="table"/>
        (formatType, additionalSerialNumber,
        typeSerialNumber, typeName,
        ordinal, codeOrdinal,
        codeFormatParam,
        codeLabelId, codeUsePropertyParam,
        pathParam )
        values
        <foreach collection="list" item="formatTypeCodeModel" index="index"
                 separator=",">
            (
            #{formatTypeCodeModel.formatType},
            #{formatTypeCodeModel.additionalSerialNumber},
            #{formatTypeCodeModel.typeSerialNumber},
            #{formatTypeCodeModel.typeName},
            #{formatTypeCodeModel.ordinal},
            #{formatTypeCodeModel.codeOrdinal},
            #{formatTypeCodeModel.codeFormatParam},
            #{formatTypeCodeModel.codeLabelId},#{formatTypeCodeModel.codeUsePropertyParam},
            #{formatTypeCodeModel.pathParam}
            )
        </foreach>
    </insert>


    <!-- 删除模块 -->
    <delete id="delCodeModel">
        delete from
        <include refid="table"/>
        where
        formatType = #{formatType}
    </delete>


    <!-- 获取代码模型 -->
    <select id="getCorrespondingCodeModelList"
            parameterType="com.lazycoder.database.model.featureSelectionModel.FormatTypeFeatureSelectionModel"
            resultType="com.lazycoder.database.model.command.FormatTypeCodeModel">
        select * from
        <include refid="table"/>
        where
        formatType = #{formatType}
        <if test="formatType == 0 and additionalSerialNumber != 0">
            and additionalSerialNumber = #{additionalSerialNumber}
        </if>
        <if test="typeName != null">
            and typeName = #{typeName}
        </if>
        <if test="typeSerialNumber != 0">
            and typeSerialNumber = #{typeSerialNumber}
        </if>
        <if test="ordinal != 0">
            and ordinal = #{ordinal}
        </if>
        order
        by codeOrdinal
    </select>

    <select id="selectExistCodeLabelIdUsed" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        select count(*) from
        <include refid="table"/>
        where codeLabelId = #{codeLabelId}
    </select>

</mapper>